<div class="container mt-5">
  <div class="form-area">
    <h1 class="text-center">Template Driven Form</h1>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          name="fullName"
          ngModel
          #fullName="ngModel"
          (change)="getValue(fullName)"
          required
          [ngClass]="{ 'is-invalid': fullName.touched && fullName.invalid }"
          minlength="5"
          maxlength="10"
        />
      </div>
      <div *ngIf="fullName.errors?.['required']">
        <div
          class="alert alert-danger"
          *ngIf="fullName.touched && fullName.invalid"
        >
          Full name is required
        </div>
      </div>
      <div *ngIf="fullName.errors?.['minlength']">
        <div
          class="alert alert-danger"
          *ngIf="fullName.touched && fullName.invalid"
        >
          Full name must be at least 5 chars
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="email"
          ngModel
          name="email"
          #email="ngModel"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
          required
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
        />
      </div>
      <div *ngIf="email.errors?.['required']">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          Email name is required
        </div>
      </div>
      <div *ngIf="email.errors?.['pattern']">
        <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
          Email pattern incorrect
        </div>
      </div>

      <div class="form-group">
        <label>Address</label>
        <textarea
          cols="30"
          rows="10"
          placeholder="Address"
          class="form-control"
          name="address"
          ngModel
          #address="ngModel"
          required
          [ngClass]="{ 'is-invalid': address.touched && address.invalid }"
        ></textarea>
      </div>
      <div *ngIf="address.errors?.['required']">
        <div
          class="alert alert-danger"
          *ngIf="address.touched && address.invalid"
        >
          Address is required
        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
        Submit
      </button>
    </form>
  </div>
  <div class="form-area">
    <h1 class="text-center">Reactive Form</h1>
    <form [formGroup] = "form" (ngSubmit)="onSubmitx()">
      <div class="form-group">
        <label>Full Name</label>
        <input
          type="text"
          placeholder="Full Name"
          class="form-control"
          name="fullName"
          formControlName="fullName"
        />
        <div class="alert alert-danger" *ngIf="fullname.touched && fullname.invalid">
          <div *ngIf="fullname.errors?.['required']">The full name is required.</div>
          <div *ngIf="fullname.errors?.['minlength']">The full name must be at least 5 chars.</div>
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="email"
          formControlName="email"
        />
        <div class="alert alert-danger" *ngIf="Email.touched && Email.invalid">
          <div *ngIf="Email.errors?.['required']">Email is required.</div>
          <div *ngIf="Email.errors?.['email']">Email must be in correct format.</div>
        </div>
      </div>
<!-- Contact details nested form group -->
      <div formGroupName="contactDetails">
        <div class="form-group">
          <label>Address</label>
          <textarea
            cols="30"
            rows="10"
            placeholder="Address"
            class="form-control"
            name="address"
            formControlName="address"
          ></textarea>
          <div class="alert alert-danger" *ngIf="Address.touched && Address.invalid">
            <div *ngIf="Address.errors?.['required']">The address is required.</div>
          </div>

        </div>
        <div class="form-group">
          <label>Shipping Address</label>
          <textarea
            cols="30"
            rows="10"
            placeholder="Shipping Address"
            class="form-control"
            name="shippingAddress"
            formControlName="shippingAddress"
          ></textarea>
          <div class="alert alert-danger" *ngIf="ShippingAddress.touched && ShippingAddress.invalid">
            <div *ngIf="ShippingAddress.errors?.['required']">The shipping address is required.</div>
          </div>
        </div>
        <div class="form-group">
          <label>Contact Number</label>
          <input
            type="text"
            placeholder="Contact Number"
            class="form-control"
            name="contactNo"
            formControlName="contactNo"
          />
          <div class="alert alert-danger" *ngIf="Contact.touched && Contact.invalid">
            <div *ngIf="Contact.errors?.['required']">Contact is required.</div>
            <div *ngIf="Contact.errors?.['pattern']">Contact must be in correct format.</div>
          </div>

        </div>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
